<h1><%= @service.members_in_order_of_the_phoenix.length %> Members of House <%= @service.house %> </h1>

<section id='members'>
  <% @service.members_in_order_of_the_phoenix.each do |member| %>
    <li id='member'>Name: <%= member['name'] %> </li>
        <ul>House: <%= member['house'] %></ul>
        <ul>Role: <%= member['role'] %></ul>
        <ul>Patronus: <%= member['patronus'] %></ul>
  <% end %>
</section>
